body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
    width: 960px;
    margin: auto;
    padding: 0 20px;
    max-width: 100%;
}

h1 {
    color: blue;
    border-bottom: 1px solid #929CA4;
    width: 100%;
}

section p:nth-of-type(1)::first-letter {
    font-size: 30px;
}

a[href]:link {
    color: #0066CC;
    text-decoration: none;
}

.features {
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin-left: 50px;
}

ul {
    list-style-type: none;
}

ul li:first-child {
    color: blue;
}

ul li:last-child {
    color: red;
}